<tr class="student">
    <td class="table_item"><%= elementary_student.id %></td>
    <td class="table_item"><%= elementary_student.grade %>年</td>
    <td class="table_item"><%= elementary_student.school_id %></td>
    <td class="table_item"><%= elementary_student.student %></td>
    <td class="table_item"><%= elementary_student.student_type %></td>
</tr>