<tr class="student">
    <td class="table_item"><%= junior_high_school_student.id %></td>
    <td class="table_item"><%= junior_high_school_student.grade %></td>
    <td class="table_item"><%= junior_high_school_student.school.school %></td>
    <td class="table_item"><%= junior_high_school_student.year %></td>
    <td class="table_item"><%= junior_high_school_student.family_name %></td>
    <td class="table_item"><%= junior_high_school_student.given_name %></td>
    <td class="table_item"><%= junior_high_school_student.family_name_kana %></td>
    <td class="table_item"><%= junior_high_school_student.given_name_kana %></td>
    <td class="table_item"><%= junior_high_school_student.student_type.student_type %></td>
</tr>