<%= form_for @student, remote: true do |f| %>
    <div class="form_group">
        <%= f.label :classifying, '種別'%>
        <%= f.select :classifying, {'小学生': 1, '中学生': 2,'高校生': 3}, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
    </div>
    <div class="form_group">
        <%= f.label :grade, '学年'%>
        <%= f.select :grade, {'1年': 1, '2年': 2,'3年': 3,'4年': 4,'5年': 5,'6年': 6}, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
    </div>
    <div class="form_group">
        <%= f.label :school_id, '学校'%>
        <%= f.collection_select :school_id, School.all, :id, :school, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
    </div>
    <div class="form_group">
        <%= f.label :family_name, '姓'%>
        <%= f.text_field :family_name, class: 'form-control'%>
    </div>
    <div class="form_group">
        <%= f.label :given_name, '名'%>
        <%= f.text_field :given_name, class: 'form-control'%>
    </div>
    <div class="form_group">
        <%= f.label :family_name_kana, '姓（ふりがな）'%>
        <%= f.text_field :family_name_kana, class: 'form-control'%>
    </div>
    <div class="form_group">
        <%= f.label :given_name_kana, '名（ふりがな）'%>
        <%= f.text_field :given_name_kana, class: 'form-control'%>
    </div>
    <div class="form_group">
        <%= f.label :student_type_id, '生徒タイプ'%>
        <%= f.collection_select :student_type_id,StudentType.all, :id, :student_type, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
    </div>
    <div class="form_group">
        <%= f.submit '追加', class: 'btn_submit' %>
    </div>
<% end %>   

<p>生徒一覧</p>
    
<table border="1" class = "elementary_student">
    <thead>
        <%= render partial: "students/table_index" %>
    </thead>
    <tbody class="elementary_student_body">
        <%= render partial: "students/elementary_student", collection: @elementary_students %>
    </tbody>
</table>
<table border="1" class = "junior_high_school_student">
    <thead>
        <%= render partial: "students/table_index" %>
    </thead>
    <tbody class="junior_high_school_student_body">
        <%= render partial: "students/junior_high_school_student", collection: @junior_high_school_students %>
    </tbody>
</table>
<table border="1" class = "high_school_student">
    <thead>
        <%= render partial: "students/table_index" %>
    </thead>
    <tbody class="high_school_student_body">
        <%= render partial: "students/high_school_student", collection: @high_school_students %>
    </tbody>
</table>