<body class="signup_body">  
  <div class='log-in-inner'>   
    <h4 class="login_title">アカウント凍結解除メールの再送信</h4>
    
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :email, class: 'login_item_label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    
      <div class="actions btn-group">
        <%= f.submit "送信", class: 'btn_signup' %>
      </div>
    <% end %>
  </div>
  
  <%= render "devise/shared/links" %>
</body>
