<li class="report">
    <div class="report_info">
        <a class="report_info_item report_name"><%= report.student.family_name %></a>
        <a class="report_info_item report_name"><%= report.student.given_name %></a>
        
        <a class="report_info_item"><%= report.classifying.classifying %></a>
        <a class="report_info_item report_user"><%= report.user.name %></a>
        <a class="report_info_item"><%= report.subject.subject %></a>
        <a class="report_info_item"><%= report.created_at.to_s(:datetime_jp) %><br></a>
        <a >理解度</a>
        <a class="star5_rating" data-rate="<%= report.understanding %>"></a>
        <a ><%= report.understanding %></a>
    </div>
    <a class="report_report"><%= report.report %></a>
</li>