<body class="mypage_body">
    <p class="mypage_title"><%= @user.name %>　先生のページです。</p>
    <div class="class_data">
        <div class="late_report">
            <p class="sub_title">直近の授業</p>
            <% @reports.each do |report|%>
                <form method="get" action="/reports/new" style="display: inline">
                    <input type="hidden" name="student" value="<%= report.student_id %>">
                    <input type="hidden" name="classifying" value="<%= report.classifying_id %>">
                    <input type="hidden" name="subject" value="<%= report.subject_id %>">
                    <input type="submit" value="新規登録" class="hidden_data_btn">
                </form>
                <form method="get" action="/reports/<%= report.id %>/edit" style="display: inline">
                    <input type="submit" value="編集" class="hidden_data_btn">
                </form>
                <a href="/students/<%= report.student.id %>" class="late_report_item"><%= report.student.name %></a>
                <%= report.classifying.classifying %>
                <%= report.subject.subject %>
                <%= report.created_at.to_s(:datetime_jp) %>
                <a class="star5_rating" data-rate="<%= report.understanding %>"></a><br>
            <% end %>
        </div>
        <div class="user_data">
            <p class="sub_title">担当生徒（授業回数）</p>
            <div class="user_data_group">
                <div>
                    <% @students.each do |student| %>
                        <a class="user_data_item" ><%= student.name %></a><br>
                    <% end %>
                </div>
                <div>
                    <% @student_counts.each do |count| %>
                        <%= count %>回<br>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    
    <table border="1">
        <thead>
            <tr>
                <th></th>
                <th>生徒</th>
                <th>範囲</th>
                <th></th>
                <th></th>
                <th>得点</th>
                <th>満点</th>
                <th>日付</th>
                <th>登録者</th>
            </tr>
        </thead>
        <tbody>
            <% @targets.each do |target| %>
                <tr>
                    <td>削除</td>
                    <td><%= target.student.name %></td>
                    <td><%= target.exam_coverage_first %></td>
                    <td>~</td>
                    <td><%= target.exam_coverage_last %></td>
                    <td><%= target.score %></td>
                    <td><%= target.full_mark %></td>
                    <td><%= target.created_at.to_s(:datetime_jp) %></td>
                    <td><%= target.user.name %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <div class="student_data_table">
        <div class="student_data_result">
            <table border="1" class="mypage_result_table">
            <p class="table_title">登録した成績</p>
                <thead>
                    <tr>
                        <th></th>
                        <th>生徒氏名</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>英語</th>
                        <th>数学</th>
                        <th>国語</th>
                        <th>理科</th>
                        <th>社会</th>
                        <th>美術</th>
                        <th>体育</th>
                        <th>技家</th>
                        <th>音楽</th>
                        <th>合計</th>
                        <th>登録者</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: "results/result", collection: @results %>
                </tbody>
            </table>
        </div>
        <div class="student_data_result">
            <table border="1" class="mypage_result_table">
                <p class="table_title">登録した試験結果</p>
                <thead>
                    <tr>
                        <th></th>
                        <th>生徒氏名</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>英語</th>
                        <th>数学</th>
                        <th>国語</th>
                        <th>理科</th>
                        <th>社会</th>
                        <th>美術</th>
                        <th>体育</th>
                        <th>技家</th>
                        <th>音楽</th>
                        <th>5教科合計</th>
                        <th>クラス順位</th>
                        <th>学年順位</th>
                        <th>登録者</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: "testresults/testresult", collection: @testresults %>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="report_group mypage_report_group">
    <p class="report_title">授業報告一覧</p>
        <ul class="all_report mypage_all_report">
            <%= render partial: "reports/report", collection: @reports %>
        </ul>
    </div>
</body>