<body class="signup_body">   
  <div class='log-in-inner'>  
    <h4 class="login_title">パスワード再設定</h4>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :email, class: 'login_item_label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    
      <div class="actions btn-group">
        <%= f.submit "パスワード再設定メールを送信", class: 'btn_signup' %>
      </div>
    <% end %>
  </div>  
  <%= render "devise/shared/links" %>
</body>