<tr>
    <td><%= link_to "編集", edit_result_path(result.id), class: "edit_result_path"%></td>
    <td><a href="/students/<%= result.student.id %>" class="result_student_link"><%= result.student.name %></a></td>
    <td><%= result.grade %></td>
    <td><%= result.semester.semester %></td>
    <td><%= result.english %></td>
    <td><%= result.math %></td>
    <td><%= result.japanese %></td>
    <td><%= result.science %></td>
    <td><%= result.social %></td>
    <td><%= result.art %></td>
    <td><%= result.pe %></td>
    <td><%= result.techhome %></td>
    <td><%= result.music %></td>
    <td><%= result.total %></td>
    <td><%= result.user.name %></td>
</tr>