    <div >
        <form method="get" action="/results">
            <select name="student_keyword" class="search_box" required>
                <option value="">選択してください</option>
                <% @students.each do |student| %>
                    <option value="<%= student.id %>"><%= student.name %></option>
                <% end %>
            </select>
            <select name="grade_keyword" class="search_box" required>
                <option value="">選択してください</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option> 
            </select>
            <select name="semester_keyword" class="search_box" required>
                <option value="">選択してください</option>
                <% @semesters.each do |semester| %>
                    <option value="<%= semester.id %>"><%= semester.semester %></option>
                <% end %>
            </select>
            
            <p>
                <input type="submit" value="検索" class="search_btn">
                <%= link_to "一覧表示", results_path, class: "search_btn" %>
            </p>
        </form>
    </div>
    <% if @results.present? %>
        <table border="1">
            <thead>
                <tr>
                    <th>生徒氏名</th>
                    <th>学年</th>
                    <th>学期</th>
                    <th>英語</th>
                    <th>数学</th>
                    <th>国語</th>
                    <th>理科</th>
                    <th>社会</th>
                    <th>美術</th>
                    <th>体育</th>
                    <th>技術家庭</th>
                    <th>音楽</th>
                    <th>合計</th>
                    <th>登録者</th>
                </tr>
            </thead>
            <tbody>
                <%= render @results %>
            </tbody>
        </table>
    <% else %>
        <%= link_to "新規登録", "#" %>
    <% end %>