<body class="result_body">
    <div class="search_group">
        <p class="search_title">通知表未提出検索</p>
        <form method="get" action="/noresults">
            <select name="grade_keyword" class="search_box">
                <option value="">選択してください(学年)</option>
                <option value="1">1年</option>
                <option value="2">2年</option>
                <option value="3">3年</option>
            </select>
            <select name="semester_keyword" class="search_box">
                <option value="">選択してください(学期)</option>
                <% @semesters.each do |semester| %>
                    <option value="<%= semester.id %>"><%= semester.semester %></option>
                <% end %>
            </select>
            <p>
                <input type="submit" value="検索" class="search_btn">
            </p>
        </form>
    </div>
    
    <div class="menu_group">
        <%= link_to "通知表検索", allresults_path, class: "report_menu_item" %>
    </div>
    
    <% if @searchparameters.present? %>
        <p class="all_result_title"><%= @searchparameters[0]%>年　<%= @searchparameters[1]%>　の未提出者</p>
    <% end %>
    <div class="all_result">
        <% if @none_students.present? %>
            <table border="1" class="noresult_table">
                <thead>
                    <tr>
                        <th>生徒ID</th>
                        <th>生徒氏名</th>
                    </tr>
                </thead>
                <tbody>
                    <% @none_students.each do |none_student| %>
                    <tr>
                        <td><%= none_student.id %></td>
                        <td><a href="/students/<%= none_student.id %>" class="result_student_link"><%= none_student.student_info %></a></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>
    