<body class="signup_body">  
  <div class='login_back'>
  <h1 class="page_title">ITTO高坂駅前校<br>塾内システム</h1>
    <div class='log-in'>
    
      <div class='log-in-inner'>
        <h2 class="login_title">ログイン</h2>
  
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <!--<% if alert %>-->
          <!--  <p class='alert alert-danger'><%= alert %></p>-->
          <!--<% end %>-->
  
          <div class='form-group'>
            <%= f.label :メールアドレス, class: 'login_item_label' %>
            <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'form-control' %>
          </div>
  
          <div class='form-group'>
            <%= f.label :パスワード, class: 'login_item_label' %>
            <%= f.password_field :password, autocomplete: 'off', placeholder: 'パスワード', class: 'form-control' %>
          </div><br />
  
          <% if devise_mapping.rememberable? %>
            <div class='checkbox'>
                <label>
                  <input id='user_remember_me' name='user[remember_me]' type='checkbox' value='1'>
                  <%= f.label :remember_me, 'ログイン情報を記憶する', class: 'memory-check' %>
                </label>
            </div>
          <% end %>
  
          <div class="btn-group">
            <%= f.submit class: 'btn_signup', value: 'ログイン' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</body>