<tr>
    <td><%= link_to "編集", edit_testresult_path(testresult.id), class: "edit_result_path"%></td>
    <td><%= testresult.student.name %></td>
    <td><%= testresult.grade %></td>
    <td><%= testresult.test.test %></td>
    <td><%= testresult.english %></td>
    <td><%= testresult.math %></td>
    <td><%= testresult.japanese %></td>
    <td><%= testresult.science %></td>
    <td><%= testresult.social %></td>
    <td><%= testresult.art %></td>
    <td><%= testresult.pe %></td>
    <td><%= testresult.techhome %></td>
    <td><%= testresult.music %></td>
    <td><%= testresult.fivetotal %></td>
    <td><%= testresult.classrank %></td>
    <td><%= testresult.graderank %></td>
    <td><%= testresult.user.name %></td>
</tr>