<body class="main_body">
    <h2 class="main_menu_title">メインメニュー</h2>
    <div class="menu_table">
        <div class="main_menu_table">
            <%= link_to "授業報告", reports_path, class: "menu_item" %><br>
            <%= link_to "ITTO模試(小中)", ittoexams_path, class: "menu_item" %><br>
            <%= link_to "通知表(中)", results_path, class: "menu_item" %><br>
            <%= link_to "定期試験(中)", testresults_path, class: "menu_item" %><br>
            <%= link_to "単語テスト(高)", new_target_path, class: "menu_item" %>
        </div>
        <div class="main_menu_table">
            <%= link_to "学校追加", schools_path, class: "menu_item" %><br>
            <%= link_to "生徒追加", students_path, class: "menu_item" %><br>
            <%= link_to "※︎通知表一覧(中)", allresults_path, class: "menu_item" %>
        </div>
    </div>
    <div class="main_intro">
        <ul>
            <li>色がついているところ、ボタンぽいところはクリック可能です。</li>
            <li>生徒情報は生徒の名前をクリック</li>
            <li>自分の情報は右上のマイページをクリック</li>
        </ul>
</body>    
