<body class="main_body">
    <h2 class="main_menu_title">メインメニュー</h2>
    <div class="menu_table">
        <div class="main_menu_table">
            <%= link_to "授業報告", reports_path, class: "menu_item" %><br>
            <%= link_to "ITTO模試", "https://docs.google.com/spreadsheets/d/1Yf3lwCvUaIelJpr_XI8a2JIYsUVWMzi33dBfnx9QK74/edit#gid=236871651", class: "menu_item" %><br>
            <%= link_to "通知表入力", results_path, class: "menu_item" %><br>
            <%= link_to "試験結果入力", testresults_path, class: "menu_item" %>
        </div>
        <div class="main_menu_table">
            <%= link_to "学校追加", schools_path, class: "menu_item" %><br>
            <%= link_to "生徒追加", students_path, class: "menu_item" %>
        </div>
    </div>
</body>    
