<tr>
    <td><%= link_to "編集", edit_highfile_path(highfile.id), class: "edit_result_path"%></td>
    <td><%= highfile.student.student_info %></td>
    <td><%= highfile.image_name %></td>
    <td><%= highfile.image_identifier %></td>
    <td><img src="<%= highfile.image %>" width="100"></td>
    <td><%= highfile.user.name %></td>
</tr>