<li class="report">
    <%= report.id %>
    <%= report.classifying %>
    <%= report.student_id %>
    <%= report.user_id %>
    <%= report.subject_id %>
    <%= report.report %>
    <%= report.create_at %>
</li>