<li class="report">
    <%= report.student.classifying %>
    <%= report.student.family_name %>
    <%= report.student.given_name %>
    <%= report.user.name %>
    <%= report.subject.subject %><br>
    <%= report.report %><br>
    <%= report.understanding %><br>
    <%= report.created_at.to_s(:datetime_jp) %>
</li>