<body class="report_new_body">
 
    <div class="report_form">
        <%= form_for @report do |f| %>
            <div class="report_form_group">
                <p class="search_title">授業報告編集</p>
            </div>
            <div class="report_form_group">
                <%= f.label :classifying_id, '種別'%>
                <% if @parameters.present? %>
                    <%= f.collection_select :classifying_id, Classifying.all, :id, :classifying, {include_blank: '選択してください', selected: @parameters[1]}, { class: 'form-control' , required: true }%>
                <% else %>
                    <%= f.collection_select :classifying_id, Classifying.all, :id, :classifying, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
                <% end %>
            </div>
            <div class="report_form_group">
                <%= f.label :student_id, '生徒'%>
                <% if @parameters.present? %>
                    <%= f.collection_select :student_id, Student.all.order(classifying: :ASC, grade: :ASC, family_name_kana: :ASC), :id, :name, {include_blank: '選択してください', selected: @parameters[0]}, { class: 'form-control' , required: true }%>
                <% else %>
                    <%= f.collection_select :student_id, Student.all.order(classifying: :ASC, grade: :ASC, family_name_kana: :ASC), :id, :student_info, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
                <% end %>
            </div>
            <div class="report_form_group">
                <%= f.label :subject_id, '教科'%>
                <% if @parameters.present? %>
                    <%= f.collection_select :subject_id, Subject.all, :id, :subject, {include_blank: '選択してください', selected: @parameters[2]}, { class: 'form-control' , required: true }%>
                <% else %>
                    <%= f.collection_select :subject_id, Subject.all, :id, :subject, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
                <% end %>
            </div>
            <div class="report_form_group">
                <%= f.label :report, '本文'%><br>
                <%= f.text_area :report, class: 'form-control report_form_group_report', required: true %>
            </div>
            <div class="report_form_group">
                <%= f.label :understanding, '理解度'%>
                <%= f.radio_button :understanding, "1" , required: true %>1
                <%= f.radio_button :understanding, "2" %>2
                <%= f.radio_button :understanding, "3" %>3
                <%= f.radio_button :understanding, "4" %>4
            </div>
            <div class="report_form_group">
                <%= f.submit '送信', class: 'btn_signup' %>
            </div>
        <% end %>
    </div>
</body>
    