<%= form_for @report do |f| %>
    <div class="report_form_group">
        <%= f.label :classifying_id, '種別'%>
        <%= f.collection_select :classifying_id, Classifying.all, :id, :classifying, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
    </div>
    <div class="report_form_group">
        <%= f.label :student_id, '生徒'%>
        <%= f.collection_select :student_id, Student.all.order(classifying: :ASC, grade: :ASC, family_name_kana: :ASC), :id, :name, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
    </div>
    <div class="report_form_group">
        <%= f.label :subject_id, '教科'%>
        <%= f.collection_select :subject_id, Subject.all, :id, :subject, {include_blank: '選択してください'}, { class: 'form-control' , required: true }%>
    </div>
    <div class="report_form_group">
        <%= f.label :report, '本文'%>
        <%= f.text_area :report, class: 'form-control' %>
    </div>
    <div class="form_group">
        <%= f.label :understanding, '理解度'%>
        <%= f.number_field :understanding , class: 'form-control', min: 1, max: 4, required: true %>
    </div>
    <div class="form_group">
        <%= f.submit '送信', class: 'btn_submit' %>
    </div>
<% end %>
    