<tr>
    <td><%= link_to "編集", edit_ittoexam_path(ittoexam.id) %></td>
    <td><%= ittoexam.student.classifying %></td>
    <td><%= ittoexam.student.grade %></td>
    <td><%= ittoexam.student.name %></td>
    <td><%= ittoexam.english_score %></td>
    <td><%= ittoexam.english_full_mark %></td>
    <td><%= ittoexam.japanese_score %></td>
    <td><%= ittoexam.japanese_full_mark %></td>
    <td><%= ittoexam.science_score %></td>
    <td><%= ittoexam.science_full_mark %></td>
    <td><%= ittoexam.social_score %></td>
    <td><%= ittoexam.social_full_mark %></td>
    <td><%= ittoexam.user.name %></td>                   
</tr>