<!DOCTYPE html>
<html>
  <head>
    <title>Itto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header  class="header">
    <div class="user_name">
      <% if user_signed_in? %>
        <%= link_to "メインメニュー", root_path, class: "main_menu_btn"%>
        <a href="/students/<%= current_user.id %>" class="user_name_item"><%= current_user.name %></a><a class="user_name_item">　でログイン中</a>
      <% else %>
      <% end %>
    </div>
    <div class='login_logout'>
      <% if user_signed_in? %>
        <%= link_to "マイページ", user_path(current_user), class: "main_menu_btn" %>
        <%= link_to "ログアウト", destroy_user_session_path , method: :delete, class: "btn_login_logout" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "btn_login_logout" %>
      <% end %>
    </div>
    
  </header>
  <body>
    <%= yield %>
  </body>
</html>
